<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ask {{ name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            var issueId = "{{ issueId }}";
        </script>
    </head>
    <body>
        <header>
            <div>
                <h1>Add Questions to Issue: {{ name }}</h1>
            </div>
        </header>
        {% if valid %}
            <main>
                <div>
                    <h2>Issue No. {{ issueId }}: {{ name }}</h2>
                </div>
                <div>
                    {% if theme == "" %}
                        <h3>No Theme</h3>
                    {% else %}
                        <h3>Theme: {{ theme }}</h3>
                    {% endif %}
                    <h2>Created by: {{ username }} on {{ date }}</h2>
                </div>
                <div>
                    <h4>Deadline for questions: {{ q_dl }}</h4>
                </div>
                <form id="f-ask">
                    <div id="qss">
                        
                    </div>
                    <div>
                        <label for="q">Question: </label>
                        <input type="text" id="q" name="q">
                        <button type="button" id="add-q">Add Question</button>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </main>
        {% else %}
            <main>
                <div>There is no ongoing issue or the deadline for asking questions has passed.</div>
                <div>Go over to <a href="new.html">New Issue</a> to create a new one!</div>
            </main>
        {% endif %}
        <footer>
            <div>
                <a href="/">Home</a>
            </div>
        </footer>
        <script src="../static/ask.js" async defer></script>
    </body>
</html>