<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ABC New Issue</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        
        <header>
            <div>
                <h1>Create New Issue</h1>
            </div>
        </header>
        <main>
            {% if new_issue %}
            <form id="f-new">
                <div>
                    <label for="name">Issue name:</label>
                    <input type="text" id="nname" placeholder="Enter name" required name="name">
                </div>
                <div>
                    <label for="theme">Theme: </label>
                    <input type="text" placeholder="Optional" id="theme" name="theme"> 
                </div>
                <div>
                    <label for="q-dl">Deadline for submitting questions:</label>
                    <input type="date" id="q-dl" name="q-dl">
                </div>
                <div>
                    <label for="a-dl">Deadline for submitting answers:</label>
                    <input type="date" id="a-dl" name="a-dl">
                </div>
                <button type="submit" id="create-btn">Create</button>
            </form>
            {% else %}
                <div>
                    <h2>There is an ongoing issue. Create a new one later.</h2>
                    <h2>Ask some questions for the current issue <a href="ask">here</a>.</h2>
                    
                </div>
            {% endif %}
        </main>
        <footer>
            <div>
                <a href="/">Home</a>
            </div>
        </footer>
                
        <script src="../static/new.js" async defer></script>
    </body>
</html>