<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Write a Reply</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
            var issueId = "{{ issueId }}";
        </script>
    </head>
    <body>
        {% if valid %}
            <main>
                <div class="container mt-5 p-4 border border-bottom-0">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-12 text-center">
                            <h1 class="h1">Issue No. {{ issueId }}: {{ issueName}}</h1>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center fw-light">
                        <div class="col-lg-2 col-4 text-start  fst-italic">
                            Created by: {{ username }}
                        </div>
                        <div class="col-lg-2 col-4 text-center fw-normal">
                            {% if theme == "" %}
                                No Theme
                            {% else %}
                                Theme: {{ theme }}
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-4 text-end  fst-italic">    
                            {{ date }}
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-12 col-lg-9 border pt-3 mt-1">
                            <form id="f-reply">
                                {% for q in questions %}
                                    <div class="form-group mb-3">
                                        <label class="ms-1" for="q-{{ q['quesId'] }}"><b>{{ q['username'] }} asked:</b> {{ q['content'] }}</label>
                                        <input placeholder="Write your reply" class="form-control mt-1" type="text" id="q-{{ q['quesId'] }}" name="q-{{ q['quesId'] }}">
                                    </div>
                                {% endfor %}
                            </form>
                            <div class="d-grid col-12 mt-4">
                                <button form="f-reply" class="btn btn-primary mb-3" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </main>
        {% else %}
            <main>
                <div class="container mt-5 text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-6 mb-5 h1">
                            Write Your Reply
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-6">
                            There is no ongoing newsletter ready for replies yet!
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-6">
                            Go ask some questions <a href="/ask">here</a> or create a newsletter <a href="/new">here</a>
                        </div>
                    </div>
                </div>
            </main>
        {% endif %}
        
        <footer>
            <div class="container text-center mb-5">
                <div class="row justify-content-center">
                    {% if valid %}
                        <div class="border border-top-0 pb-4 pt-2 fw-light"><a href="/">Home</a></div>
                    {% else %}
                        <div class="pb-4 pt-2 fw-light mt-3"><a href="/">Home</a></div>
                    {% endif %}
                </div>
            </div>
        </footer>
        <script src="../static/reply.js" async defer></script>
    </body>
</html>